<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryManager.My.MySettings.LibraryManagerConnectionString"
            connectionString="server=192.168.1.80;user id=librarymanager;password=librarymanager;persistsecurityinfo=True;database=LibraryManager"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>